# See https://atom.io/docs/latest/hacking-atom-package-word-count#menus for more details
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'Twitch.tv'
      'submenu': [
        {
          'label': 'Start/Stop Screencasting'
          'command': 'atom-twitch:toggle'
        }
      ]
    ]
  }
]
